{% load static %}
{% load humanize %}
{% include 'menu.html' %}
<div class="main-panel">
    <div class="content-wrapper">
      <h3 class="page-title"></h3>
<br>
<div class="row">
  <div class="col-sm-4 grid-margin">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-8 col-sm-12 col-xl-8 my-auto">
            <div class="d-flex d-sm-block d-md-flex align-items-center">
            {% if guardado %}
                <h2 class="mb-0">Cambio guardado!</h2>
                <p class="text-success ml-2 mb-0 font-weight-medium"></p>
                </div>
                  <h6 class="text-muted font-weight-normal"></h6>
                </div>
                <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                  <i class="icon-lg mdi  mdi-check-all text-success ml-auto"></i>
                </div>
                <form action="/home/" method="post">{% csrf_token %}
                  <button class="btn btn-outline-success btn-md">Aceptar</button>
                </form>
            {% else %}
                <h2 class="mb-0">No se guardó!</h2></br>
                <p class="text-success mb-0 font-weight-medium"></p>
                </div>
                  <h6 class="text-muted font-weight-normal"></h6>
                </div>
                <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                  <i class="icon-lg mdi mdi-comment-alert text-danger ml-auto"></i>
                </div>
                <form action="/home/" method="post">
                  <button class="btn btn-outline-danger btn-md">Aceptar</button>{% csrf_token %}
                </form>
            {% endif %}      
        </div>          
      </div>
    </div>

  </div>