{% load humanize %}
<div class="row">
  <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-9">
            <div class="d-flex align-items-center align-self-start">
              <h3 class="mb-0">{{ dolarCompra|intcomma }}</h3>
              {% if dif < 0%}
                <p class="text-danger ml-2 mb-0 font-weight-medium">{{ dif }}</p>
              {% else %}
                <p class="text-success ml-2 mb-0 font-weight-medium">{{ dif }}</p>
              {% endif %}
            </div>
          </div>
          <div class="col-3">
            <div class="icon icon-box-primary ">
             <span class="mdi mdi-cash icon-item"></span>
            </div>
          </div>
        </div>
        <h6 class="text-muted font-weight-normal"></h6>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-9">
            <div class="d-flex align-items-center align-self-start">
              <h3 class="mb-0">{{ dolarVenta }}</h3>
              <p class="text-primary ml-2 mb-0 font-weight-medium"></p>
            </div>
          </div>
          <div class="col-3">
            <div class="icon icon-box-primary">
              <span class="mdi mdi-credit-card icon-item"></span>
            </div>
          </div>
        </div>
        <h6 class="text-muted font-weight-normal"></h6>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-9">
            <div class="d-flex align-items-center align-self-start">
              <h3 class="mb-0">{{ dolarOficialCompra|intcomma}}</h3>
              <p class="text-success ml-2 mb-0 font-weight-medium"></p>
            </div>
          </div>
          <div class="col-3">
            <div class="icon icon-box-success">
              <span class="mdi mdi-cash icon-item"></span>
            </div>
          </div>
        </div>
        <h6 class="text-muted font-weight-normal"></h6>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-9">
            <div class="d-flex align-items-center align-self-start">
              <h3 class="mb-0">{{ dolarOficial|intcomma}}</h3>
              <p class="text-success ml-2 mb-0 font-weight-medium"></p>
            </div>
          </div>
          <div class="col-3">
            <div class="icon icon-box-success">
              <span class="mdi mdi-cash icon-item"></span>
            </div>
          </div>
        </div>
        <h6 class="text-muted font-weight-normal"></h6>
      </div>
    </div>
  </div>

 